body{
    background-image: url(images/background_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#p1{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-top: 50px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    
}

#pa{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

.container { 
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
a:hover{
    color: darkgray;
}

@media only screen and (max-width: 600px) {
    .animate {
        transform: translateY(-50px);
        opacity: 0;
    }
    .animate2 {
        transform: translateY(50px);
        opacity: 0;
    }
}