body{
    background-image: url(images/background_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    border: 2px solid black !important;
}
.py-2{
    text-align: center;
}
